<script src="/javascripts/lib/require.js" data-main="/javascripts/pages/detail.js"></script>
<div class="sl-detail">
    <div class="head">
        <ul class="clear">
            <li class="head-item account">
                <img src="//wwc.alicdn.com/avatar/getAvatar.do?userNick=leirenhua2009&width=30&height=30&type=sns"
                     alt=""/>
                <span class="ml5">句号小弟</span>
            </li>
            <li class="head-item">
                <p>宝贝浏览次数</p>

                <p>233</p>
            </li>
            <li class="head-item">
                <p>最近编辑</p>

                <p>{{create_time}}</p>
            </li>
            <li class="head-item-right">
                <a href="">举报改物品</a>
            </li>
        </ul>
    </div>
    <div class="sl-offer-detail-body clear">
        <div class="img-list">
            <div class="max-pic">
                <img src="{{main_img}}" alt=""/>
            </div>
            <div class="min-pic-list">
                <ul class="clear">
                    {{#each img_list}}
                        <li class="item"><img src="{{img_url}}" alt=""/></li>
                    {{/each}}
                </ul>
            </div>
            <span><i class="iconfont mr5">&#xe604;</i>收藏产品(15)</span>
        </div>
        <div class="detail-text">
            <div class="detail-text-strong">
                <h2>{{offer_title}}</h2>
                <span class="label">价格： </span><span class="orange mr5">￥</span><span class="f24 orange">{{offer_price}}</span>
            </div>
            <p class="item"><span class="label">新旧程度： </span><span class="orange">全新</span></p>

            <p class="item"><span class="label">交易地点： </span><span>{{offer_area}} {{offer_detail_area}}</span></p>

            <p class="item"><span class="label">来自用户： </span><span></span></p>

            <p class="item"><span class="label">联系人： </span><span></span></p>

            <p class="item"><span class="label">联系电话： </span><span>18084887501</span></p>

            <p class="item"><span class="label">QQ号： </span><span>1887501</span></p>
        </div>
    </div>

    <!--详细信息以及留言-->
    <div class="main-info clear">
        <div class="left">
            <!--tab组件-->
            <div class="tab" id="detail-tab-wrapper">
                <ul class="tab-list clear">
                    <li class="tab-item tab-current">宝贝介绍</li>
                    <li class="tab-item">留言</li>
                </ul>
                <div class="tab-content">
                    <div class="tab-content-item tab-content-current">
                       {{detail_text}}
                    </div>
                    <div class="tab-content-item">
                        <!--留言模块-->
                        <div class="sl-detail-record-words">
                            <div class="sl-detail-do-records clear">
                                <div class="sl-detail-do-records-wrapper">
                                    <div class="sl-detail-user">
                                        <img src="//wwc.alicdn.com/avatar/getAvatar.do?userId=0&width=60&height=60&type=sns"
                                             alt=""/>
                                    </div>
                                    <div class="sl-detail-add">
                                        <textarea></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="sl-detail-records-list">

                            </div>
                        </div>
                        <!--/留言模块-->
                    </div>
                </div>
            </div>
            <!--/tab组件-->
        </div>
        <!--猜你喜欢-->
        <div class="right">
            <h4>猜你喜欢</h4>

            <div class="product-img">
                <img src="https://cbu01.alicdn.com/img/ibank/2014/148/504/1814405841_540208574.120x120xz.jpg_.webp"
                     alt=""/>

                <p class="price">￥22</p>
            </div>
            <div class="product-img">
                <img src="https://cbu01.alicdn.com/img/ibank/2014/148/504/1814405841_540208574.120x120xz.jpg_.webp"
                     alt=""/>

                <p class="price">￥22</p>
            </div>
            <div class="product-img">
                <img src="https://cbu01.alicdn.com/img/ibank/2014/148/504/1814405841_540208574.120x120xz.jpg_.webp"
                     alt=""/>
            </div>
            <div class="product-img">
                <img src="https://cbu01.alicdn.com/img/ibank/2014/148/504/1814405841_540208574.120x120xz.jpg_.webp"
                     alt=""/>
            </div>
        </div>
        <!--/猜你喜欢-->
    </div>
</div>
