<script src="javascripts/lib/require.js" data-main="javascripts/pages/home"></script>
<div class="sl-banner">
    <div id="banner-wrapper">
        <div class="content">
            <ul id="img-box">
                <li>
                    <a href="javascript:;">
                        <div>
                            <img class="main" src="https://cbu01.alicdn.com/cms/upload/2016/441/136/2631144_1990471759.jpg?750x440" alt="" >
                            <img class="text" src="https://cbu01.alicdn.com/cms/upload/2016/931/036/2630139_1990471759.png?750x440" alt="" >
                            <img class="background" src="https://cbu01.alicdn.com/cms/upload/2016/241/336/2633142_1990471759.png?750x440" alt="" >
                        </div>
                    </a>
                </li>
                <li class="tab-page">
                    <a href="javascript:;">
                        <div>
                            <img class="main" src="//cbu01.alicdn.com/cms/upload/2016/162/146/2641261_1472284622.jpg?750x440" alt="">
                            <img class="text" src="//cbu01.alicdn.com/cms/upload/2016/572/136/2631275_1472284622.png?750x440" alt="">
                            <img class="background" src="//cbu01.alicdn.com/cms/upload/2016/962/246/2642269_1472284622.png?750x440" alt="">
                        </div>
                    </a>
                </li>
                <li class="tab-page">
                    <a href="javascript:;">
                        <div>
                            <img src="https://cbu01.alicdn.com/img/back_ibank/2016/375/195/2591573_96354.jpg" alt=""/>
                            <img class="text" src="https://cbu01.alicdn.com/img/back_ibank/2016/475/095/2590574_96354.jpg" alt=""/>
                            <img class="background" src="https://cbu01.alicdn.com/img/back_ibank/2016/785/885/2588587_96354.jpg" alt=""/>
                        </div>
                    </a>
                </li>
                <li class="tab-page">
                    <a href="javascript:;">
                        <div>
                            <img src="https://cbu01.alicdn.com/cms/upload/2015/696/894/2498696_1696600531.png?750x450" alt=""/>
                            <img class="text" src="https://cbu01.alicdn.com/cms/upload/2015/603/905/2509306_1696600531.png?750x450" alt=""/>
                            <img class="background" src="https://cbu01.alicdn.com/cms/upload/2015/373/805/2508373_1696600531.png?750x450" alt=""/>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer clearfix">
            <ul class="tab-nav">
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <div class="nav-btn">
                <a class="pre"><i class="iconfont">&#xe608;</i></a>
                <a class="next"><i class="iconfont">&#xe607;</i></a>
            </div>
        </div>
        <!--类目导航栏-->
        <div class="category-nav">
            <h4>导购类目</h4>
            {{#each categoryList}}
            <dl class="category-nav-dl f14 clear">
                <dt class="f14 mb5">{{categoryName}}<i class="iconfont ml5">&#xe60a;</i></dt>
                {{#each itemList}}
                <dd class="category-nav-item"><a href="{{link}}" target="_blank">{{name}}</a></dd>
                 {{/each}}
            </dl>
             {{/each}}
        </div>
    </div>
</div>

<!--热门推荐-->
<div class="sl-hot-recommend">
    <div class="sl-hot-recommend">
        <div class="sl-hot-recommend-floor-head">
            <h2 class="txt-bold">热门推荐</h2>
        </div>
        <div class="sl-hot-recommend-body">
            <ul class="clear">
                {{#each recommend}}
                <li class="sl-offer-list">
                    <div class="sl-offer-list-imgbox">
                        <a href="/detail/{{_id}}">
                            <img src="{{main_img}}" alt=""/>
                        </a>
                    </div>
                    <div class="sl-offer-text">
                        <p>{{offer_title}}</p>
                        <div class="mt10 clear">
                            <div class="sl-offer-text-price">
                                <span>￥</span><span >{{offer_price}}</span>
                            </div>
                            <div class="sl-offer-text-area">
                                <span><i class="iconfont">&#xe60c;</i>{{offer_area}}</span>
                            </div>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>

<!--推荐楼层-->
{{> home_category}}


