<script src="/javascripts/lib/require.js" data-main="/javascripts/pages/user_detail_info"></script>
<main class="main-content clearfix">
    <!--nav start-->
    <nav class="nav-left">
        <ul id="navItem">
            <li class="active">个人信息</li>
            <li>修改密码</li>
            <li>个人消息</li>
            <li>我的发布</li>
            <li>我的收藏</li>
        </ul>
    </nav>
    <!--nav end-->
    <!--detail-info start-->
    <section id="info" class="info">
        <!--头像上传 start-->
        <aside id="picSet" class="detail-info">
            <figure class="pic-group">
                <div class="logo-wrapper">
                    <img class="pre-view-offer-img" width="100" height="100"  src=" {{userInfo.head_img}}"/>
                </div>
                <form id="upload-head-form">
                    <div class="info-item">
                        <span>设置头像：</span> <input type="file" name="img">
                    </div>
                    <div class="info-item">
                        <span>上传头像：</span>
                        <button id="upload-logo-btn" type="button">上传头像</button>
                    </div>
                    <div class="info-item">
                        <span>昵称&nbsp;&nbsp;：</span> <input type="text" value="{{userInfo.nick_name}}" id="nick-name" class="sl-input"/>
                    </div>
                    <div class="info-item">
                        <span>性别&nbsp;&nbsp;：</span>
                        <select name="" id="sex-type" class="sl-select">
                            <option value="男">男</option>
                            <option value="女">女</option>
                            <option value="保密" selected="selected">保密</option>
                        </select>
                    </div>
                    <div class="info-item" id="intertst">
                        <span>兴趣：</span>
                        电脑：<input type="checkbox" value="电脑"/>&nbsp;&nbsp;
                        手机：<input type="checkbox" value="手机"/>&nbsp;&nbsp;
                        电器：<input type="checkbox" value="电器"/>&nbsp;&nbsp;
                        健身器：<input type="checkbox" value="健身器"/>&nbsp;&nbsp;
                        书籍：<input type="checkbox" value="书籍"/>&nbsp;&nbsp;
                        化妆品：<input type="checkbox" value="化妆品"/>&nbsp;&nbsp;
                        箱包：<input type="checkbox" value="箱包"/>&nbsp;&nbsp;
                        鞋帽：<input type="checkbox" value="鞋帽"/>&nbsp;&nbsp;
                        摩托车：<input type="checkbox" value="摩托车"/>&nbsp;&nbsp;
                       电动车：<input type="checkbox" value="电动车"/>&nbsp;&nbsp;
                       自行车：<input type="checkbox" value="自行车"/>&nbsp;&nbsp;
                        转租：<input type="checkbox" value="转租"/>&nbsp;&nbsp;
                        求租：<input type="checkbox" value="求租"/>&nbsp;&nbsp;
                        家教：<input type="checkbox" value="家教"/>&nbsp;&nbsp;
                        促销：<input type="checkbox" value="促销"/>&nbsp;&nbsp;
                        物品交换：<input type="checkbox" value="物品交换"/>&nbsp;&nbsp;
                    </div>
                </form>
                <button  class="btn info-save" id="save-user-info">保存</button>
            </figure>

        </aside>
        <!--头像上传 end-->
        <!--密码设置 start-->
        <aside id="changePwd" class="detail-info show-none">
            <form id="password-reset-form" action="" autocomplete="off"
                  data-validator-option="{theme:'yellow_right_effect',stopOnError:true}">
                <div class="input-group clearfix">
                    <div class="input-left">
                        当前密码：
                    </div>
                    <div class="input-right">
                        <input id="current-password" name="password"  data-rule="密码:required;password" type="password" placeholder="当前密码">
                    </div>
                </div>

                <div class="input-group clearfix">
                    <div class="input-left">
                        新密码：
                    </div>
                    <div class="input-right">
                        <input id="new-password" name="new-password" data-rule="密码:required;password" type="password" placeholder="新密码">
                    </div>
                </div>

                <div class="input-group clearfix">
                    <div class="input-left">
                        确认密码：
                    </div>
                    <div class="input-right">
                        <input id="confirm-new-password" name="confirm-password" data-rule="密码:required;password" type="password" placeholder="确认密码">
                    </div>
                </div>
            </form>
            <div class="input-group clearfix">
                <div class="input-left">

                </div>
                <div class="input-right">
                    <button id="change-password" class="btn btn-block">保存</button>
                </div>
            </div>
        </aside>
        <!--密码设置 end-->

        <!--个人消息 start-->
        <aside id="myMessage" class="detail-info show-none">
            <div class="message-group clearfix">
                <div class="message-left">

                </div>
                <div class="message-right">
                    <a href="#">二手物品链接</a>

                    <p>消息内容</p>
                    <textarea rows="3" placeholder="回复消息"></textarea>
                    <button class="btn btn-block">回复</button>
                </div>
            </div>

            <div class="message-group clearfix">
                <div class="message-left">

                </div>
                <div class="message-right">
                    <a href="#">二手物品链接</a>

                    <p>消息内容</p>
                    <textarea rows="3" placeholder="回复消息"></textarea>
                    <button class="btn btn-block">回复</button>
                </div>
            </div>

            <div class="message-group clearfix">
                <div class="message-left">

                </div>
                <div class="message-right">
                    <a href="#">二手物品链接</a>

                    <p>消息内容</p>
                    <textarea rows="3" placeholder="回复消息"></textarea>
                    <button class="btn btn-block">回复</button>
                </div>
            </div>

        </aside>
        <!--个人消息 end-->
        <!--我的发布 start-->
        <aside id="myPublish" class="detail-info show-none">
            {{#each myOffers}}
            <div class="publish-group clearfix">
                <div class="publish-left">
                    <a href="/detail/{{_id}}">
                        <img src="{{main_img}}" width="100" height="100" alt=""/>
                        <span>{{offer_title}}</span>
                    </a>
                    &nbsp; &nbsp; &nbsp;
                    <span>{{offer_price}}元</span>
                </div>
                <div class="publish-center">
                    <button class="btn down-offer"  data-id="{{_id}}">下架</button>
                </div>
                <!--<div class="publish-right">-->
                    <!--<button class="btn update-offer">修改</button>-->
                <!--</div>-->
            </div>
            {{/each}}
        </aside>
        <!--我的发布 end-->
        <!--我的收藏 start-->
        <aside id="myCollect" class="detail-info show-none">
            {{#each collectList}}
           <div class="collect-list clear">
               <div class="left">
                   <a href="/detail/{{_id}}">
                       <img src="{{main_img}}" alt="" width="100" height="100"/>
                       <span>{{offer_title}}</span>
                   </a>
               </div>
               <div class="right">
                   <a href="javascript:;" class="btn btn-orange remove" data-id="{{_id}}">移除</a>
               </div>
           </div>
            {{/each}}
        </aside>
        <!--我的收藏 end-->

    </section>
    <!--detail-info end-->
</main>